:root {
  --header-height: 3rem;
  --hue-color: 230;
  /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

  --first-color: hsl(var(--hue-color), 69%, 61%);
  --first-color-alt: hsl(var(--hue-color), 57%, 53%);
  --first-color-second: hsl(var(--hue-color), 69%, 61%);
  --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
  --text-color: hsl(var(--hue-color), 8%, 45%);
  --text-color-light: hsl(var(--hue-color), 8%, 65%);
  --body-color: hsl(var(--hue-color), 60%, 99%);
  --title-color: hsl(var(--hue-color), 8%, 15%);
  --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);
  --scroll-up-color: hsl(var(--hue-color), 18%, 34%);

  --body-font: "Poppins", sans-serif;

  /* --biggest-font-size: 2.375rem; 
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem; */

  --biggest-font-size: clamp(2.375rem, 6vw, 5rem);
  /* Between ~38px and 80px */
  --h1-font-size: clamp(1.5rem, 4vw, 2.25rem);
  /* Between 24px and 36px */
  --h2-font-size: clamp(1.25rem, 3vw, 1.5rem);
  /* Between 20px and 24px */
  --normal-font-size: clamp(0.938rem, 2vw, 1rem);
  /* Between 15px and 16px */
  --small-font-size: clamp(0.813rem, 1.5vw, 0.875rem);
  /* Between 13px and 14px */
  --smaller-font-size: clamp(0.75rem, 1vw, 0.813rem);
  /* Between 12px and 13px */
}

/* @media screen and (min-width: 1024px) {
  :root {
    --biggest-font-size: 5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
} */

body.dark-theme {
  /* HSL color mode */
  --first-color-second: hsl(var(--hue-color), 30%, 8%);
  --title-color: hsl(var(--hue-color), 8%, 95%);
  --text-color: hsl(var(--hue-color), 8%, 75%);
  --body-color: hsl(var(--hue-color), 28%, 12%);
  --scroll-bar-color: hsl(var(--hue-color), 12%, 48%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 36%);
  --scroll-up-color: hsl(var(--hue-color),  69%, 61%);
}

body.dark-theme ::-webkit-scrollbar-thumb:focus {
  background-color: var(--first-color);
  outline: 2px solid var(--first-color-alt);
}


:root, body {
  transition: background-color 0.3s ease, color 0.3s ease;
}

/*========== Button Dark/Light ==========*/
.nav__btns {
  display: flex;
  align-items: center;
}

.change-theme {
  font-size: 1.25rem;
  color: var(--title-color);
  margin-right: 1rem;
  cursor: pointer;
}

.change-theme:hover {
  color: var(--first-color);
}

/*==================== BASE ====================*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: 500;
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1024px;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.main {
  overflow: hidden;
}

.header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  background-color: var(--body-color);
}

.nav {
  max-width: 1024px;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo,
.nav__toggle {
  color: var(--title-color);
  font-weight: 500;
}

.nav__toggle {
  font-size: 1.1rem;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    padding: 2rem 1.5rem 4rem;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 1.5rem 1.5rem 0 0;
    transition: 0.3s;
  }
}

.nav__list {
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: 500;
}

.nav__icon {
  font-size: 1.125rem;
}

.nav__close {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--first-color);
}

.nav__logo:hover,
.nav__toggle:hover,
.nav__link:hover,
.nav__close:hover {
  color: var(--first-color);
}

/* show menu */
.show-menu {
  bottom: 0;
}

/* Active link */
.active-link {
  color: var(--first-color);
}

/* Change background header */
.scroll-header {
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
}

/* ============== HOME ============== */
.home {
  background-color: var(--body-color);
  padding: 5rem 0 2rem;
  height: 100vh;
  display: grid;
}

.home__container {
  display: grid;
  align-content: center;
  row-gap: 2.2rem;
}

.home__data {
  text-align: center;
}

.home__subtitle {
  display: block;
}

.home__title {
  font-size: var(--biggest-font-size);
  /* font-size: clamp(2rem, 8vw, 5rem); */
  margin: 0.75rem 0;
}

.home__button {
  margin-top: 2rem;
  display: inline-block;
  color: #fff;
  background-color: var(--first-color);
  padding: 0.8rem 1.5rem;
  border-radius: 3rem;
  transition: transform 0.3s ease-in-out;
}

.home__button:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 12px hsla(38, 69%, 8%, 0.2);
}

.home__img {
  justify-self: center;
}

.home__img img {
  width: 230px;
  animation: floaty 1.8s infinite alternate;
}

.home__shadow {
  width: 130px;
  height: 24px;
  background-color: hsla(38, 21%, 19%, 0.16);
  margin: 0 auto;
  border-radius: 50%;
  filter: blur(7px);
  animation: shadow 1.8s infinite alternate;
}

/*==================== FOOTER ====================*/
.footer_bg {
  background-color: var(--first-color-second);
  padding: 2rem 0 3rem;
}

.footer__container {
  row-gap: 2rem;
}

.footer__title {
  font-size: var(--h1-font-size);
  margin-bottom: 0.25rem;
}

.footer__subtitle {
  font-size: var(--small-font-size);
}

.footer__social {
  font-size: var(--h2-font-size);
  margin-right: 1.5rem;
}

.footer__social:hover {
  color: var(--first-color-lighter);
}

.footer__copy {
  font-size: var(--smaller-font-size);
  text-align: center;
  color: var(--text-color-light);
  margin-top: 3rem;
}

.footer__title,
.footer__subtitle,
.footer__social {
  color: #fff;
}

/*========== SCROLL UP ==========*/
.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  background-color: var(--scroll-up-color);
  opacity: 0.8;
  padding: 0.2rem 0.3rem;
  border-radius: 0.4rem;
  z-index: 10;
  transition: opacity 0.4s ease, bottom 0.4s ease;
}

.scrollup:hover {
  background-color: var(--first-color-alt);
  transform: scale(1.1);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.scrollup__icon {
  font-size: 1.5rem;
  color: #fff;
}

/* Show scroll */
.show-scroll {
  bottom: 5rem;
}

/*========== SCROLL BAR ==========*/
::-webkit-scrollbar {
  width: 0.6rem;
  background-color: var(--scroll-bar-color);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--text-color-light);
}


/*============= ANIMATIONS ============ */
@keyframes floaty {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(15px);
  }
}

@keyframes shadow {
  0% {
    transform: scale(1, 1);
  }

  100% {
    transform: scale(0.85, 0.85);
  }
}

@media screen and (max-width: 350px) {
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .nav__menu {
    padding: 2rem 0.25rem 4rem;
  }

  .nav__list {
    column-gap: 0;
  }

  .home {
    padding-top: 4rem;
  }
}

@media screen and (min-width: 568px) {
  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* For Medium Devices */
@media screen and (min-width: 768px) {
  .container {
    margin-right: auto;
    margin-left: auto;
  }

  body {
    margin: 0;
  }

  .header {
    top: 0;
    bottom: initial;
  }

  .header,
  .footer__container {
    padding: 0 1rem;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
    column-gap: 1rem;
  }

  .nav__icon,
  .nav__toggle,
  .nav__close {
    display: none;
  }

  .nav__list {
    display: flex;
    column-gap: 2rem;
  }

  .nav__menu {
    margin-left: auto;
  }

  .change-theme {
    margin: 0 0 0 0.75rem;
  }

  .footer_bg {
    padding: 3rem 0 3.5rem;
  }

  .footer__socials {
    justify-self: flex-end;
  }

  .footer__copy {
    margin-top: 4.5rem;
  }
}

/* For Large Devices */
@media screen and (min-width: 1024px) {

  .header,
  .main,
  .footer__container {
    padding: 0;
  }

  .home__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 2rem;
  }

  .home__data {
    text-align: initial;
  }

  .home__img img {
    width: 400px;
  }

  .home__shadow {
    width: 250px;
    height: 40px;
  }
}

@media screen and (min-width: 1048px) {
  .container {
    margin-right: auto;
    margin-left: auto;
  }
}

/* Fpr 2K Resolution */
@media screen and (min-width: 2048px) {
  body {
    zoom: 1.7;
  }

  .home {
    height: initial;
    row-gap: 4rem;
  }
}

/* Fpr 4K Resolution */
@media screen and (min-width: 3840px) {
  body {
    zoom: 3.5;
  }
}